section{
  margin-top: 50px;
}
.title{
  text-align: center;
  font-size: 30px;
}
div.rating{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
div.movie{
  background-color: #aaaaaa;
}
ul.movie-data{
  background-color: #aaaaaa;
}
ul.movie-data > li{
  background-color: #aaaaaa;
}
h4.rating-text{
  text-align: center;
}
div.better div{
  background-color: green!important;
}
div.better div ul li{
  background-color: green!important;
}
