

<section>
  <div class="row">
    <div class="col-12 col-md-6">
      <div [class.better]="film1?.imdbRating > film2?.imdbRating" class="card mb-3 movie">
        <img [src]="film1?.Poster !== 'N/A' ? film1?.Poster : '../assets/images/placeholder.jpg'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">{{ film1?.Title }}</h5>
          <p *ngIf="film1?.Plot !== 'N/A'" class="card-text">{{ film1?.Plot }}</p>

          <ul class="list-group list-group-flush movie-data">
            <li *ngIf="film1?.Director !== 'N/A'" class="list-group-item">Rendező: {{ film1?.Director }}</li>
            <li *ngIf="film1?.Actors !== 'N/A'" class="list-group-item">Színészek: {{ film1?.Actors }}</li>
          </ul>

          <h4 class="rating-text">Értékelés:</h4>
          <div class="rating">{{ film1?.imdbRating | number }}</div>

        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div [class.better]="film2?.imdbRating > film1?.imdbRating" class="card mb-3 movie">
        <img [src]="film2?.Poster !== 'N/A' ? film2?.Poster : '../assets/images/placeholder.jpg'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">{{ film2?.Title }}</h5>
          <p *ngIf="film2?.Plot !== 'N/A'" class="card-text">{{ film2?.Plot }}</p>

          <ul class="list-group list-group-flush movie-data">
            <li *ngIf="film2?.Director !== 'N/A'" class="list-group-item">Rendező: {{ film2?.Director }}</li>
            <li *ngIf="film2?.Actors !== 'N/A'" class="list-group-item">Színészek: {{ film2?.Actors }}</li>
          </ul>

          <h4 class="rating-text">Értékelés:</h4>
          <div class="rating">{{ film2?.imdbRating | number }}</div>

        </div>
      </div>
    </div>

  </div>

</section>
