section{
  margin: 20px 0 20px 0;
}
.item{
  background-color: #000000;
  margin-bottom: 30px;
  cursor: pointer;
}
.card-body{
  background-color: #aaaaaa;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.kijelolt{
  opacity: 0.3;
}
.item:hover{
  transform: scale(1.05);
}
.movie-form{
  margin-bottom: 30px;
}
