

<div id="maindiv">

  <input type="text" [(ngModel)]="search" (keyup)="searchMovies()" placeholder="Keresés filmcím alapján" />
  <div>
    <div id="kategoria">
    <h2 *ngIf="film1 !== null" >Kiválasztva: {{ film1.Title }} ({{ film1.Year }})</h2>
    </div>
    <ng-container *ngFor="let film of filmek">

      <div (click)="kivalaszt(film.imdbID)" class="elem">
        <img [class.kijelolt] = "film1 !== null && film.imdbID === film1.imdbID" [src]="film.Poster !== 'N/A' ? film.Poster : '../assets/images/placeholder.jpg'" title="{{ film.Title }}"/>
        <div class="cim">{{ film.Title }}</div>
      </div>

    </ng-container>

  </div>
  <br class="clear"/>
</div>
