img#index {
  z-index: 1;
  width: 550px;
}
header{
  margin: 0 auto;
  background-color: #aaaaaa;
  width: 100%;
  position: fixed;
  z-index: 2;
}
nav{
  width: 1200px;
  margin: 0 auto;
}
main{
  width: 1500px;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
section {
  background: rgba(0, 0, 0, 0);
  margin: 0 auto;
  padding: 10px;
  opacity: 1;
}
h1 {
  margin: 40px 0 90px 80px;
  color: #aaa;
  font-size: 35px;
}
